
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

:root {
    --color-bg: #ffffff;
    --color-text: #000000;
    --xs : 0.5rem;
    --s : 1rem;
    --m : 1.4rem;
    --l : 2rem;
    --xl : 3rem;
  }

  html, body{
    height: 100%;
  }


  body {
    font-family: "Barlow", sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
    /* transition: background-color 2s ease, color 2s ease; */
    overflow-x :hidden; 
    display: flex;
    flex-direction: column;
    font-size: var(--m);
    font-weight:400;
}

*{
 transition: border-color 2s ease ,background-color 2s ease, color 2s ease, box-shadow 2s ease;

}


.marginTop-s{
  margin-top: var(--s);
}
.marginTop-m{
  margin-top: var(--m);
}
.marginTop-l{
  margin-top: var(--l);
}
.marginTop-xl{
  margin-top: var(--xl);
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color:var(--color-text)
}

::selection {
  color: var(--color-bg);
  background-color: var(--color-text);
}


header #head{
    width: calc(100vw - 20px - 1rem);
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}


#colorPlayer{
  padding: 0.5rem;
}

#thmeesBtns button {
  background: none;
  padding: 0.5rem;
  cursor: pointer;
  border: none;
  color: currentColor;
}

.btns {
  cursor: pointer;
}

.inactive{
  opacity: 0.25;
  cursor:default;
}

#thmeesBtns{
 margin-left: 1rem;
 margin-top: -1rem;
 margin-bottom: 1rem;
 margin: -1rem 0 1rem 1rem;
}

#thmeesBtns li{
  list-style: none; 
  margin-right: 0.5rem;
  display: inline;
}

.colorTxt{
    font-size: 1.2rem;
    font-weight: bold;
}

 #countDown{
    width: 20px;
    height: 20px;
 }


 #countDown > *{
    position: absolute;
 }



 #countDown {
  position: relative;
  width:40px;       
  height: 40px; 
}

@keyframes fadePingPong {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 0.5;
  }
}

.fadeLoop {
  animation: fadePingPong 1s infinite alternate;
  animation-timing-function: ease-in-out;
}

/* p{
  font-size: 1.4rem;
  font-weight:400;
} */

#svg{
  display: inline;
  transform: rotate(90deg);
}

 #disk{
  width: 100%;
  height: 100%;
  background-color: var(--color-text); 
   border-radius: 20px;
   mask: url(#circleMask); -webkit-mask: url(#circleMask);

   /* transition: background-color 2s ease, color 2s ease; */
}


#cd1, #cd2 {
    position: absolute;
    transform: translate(-50%, -50%); 
    font-size: 2em;    
    text-align: center;
    font-weight: 100;
    top: calc(50% );
    left: 50%;

}

#cd1{
    color:var(--color-text);
}

#cd2{
    color:var(--color-bg);
    mask: url(#circleMask); -webkit-mask: url(#circleMask);
    /* transition: color 2s ease, color 2s ease; */
}

/* .col {
  grid-column: span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 255, 0.1);
  border-right: 1px solid blue;
  overflow: visible;
  position: relative;
} */

main {
  flex:1;
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

/* 
#presProj{
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.col{
  width: calc(80px + 1rem);
} */


#presentation{
  display: flex;
  align-self: flex-start;
  /*width:40vw; 
  background-color: green; */
}

#textPres{/* 
  background-color: blue; */
  /* width:65%; *//* 
  background-color: red; *//* 
  margin-right: 10rem; */
}

#verticalText {
  display: inline-block; /* on évite block ici */
  transform: rotate(-90deg) translate(-100%);
  transform-origin: left top;
  white-space: nowrap;
  font-size:80px;
  line-height: 1;
  font-weight: 900;
}

h1{
  /* font-size: 8.1vw; */
  font-size: 4rem;
  /* max-width: 40vw; */
  /* background-color: red; */
  line-height: 0.9em;
  
  margin-top:-0.1em; 
  font-weight: 900;
}


.reverse{
  background-color: var(--color-text);
  color: var(--color-bg);
}

#projets{
   margin-top: var(--xl);
}

 #cardsContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--m);
}

#cardsContainer li{
  display: inline-block;
  list-style: none;
  border: solid 1px var(--color-text);
  border-radius: var(--s);
  padding: var(--m);
  box-shadow: 0 0 0 var(--color-text);
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 2s ease;
}

#cardsContainer li:hover{
  transform: translateY( calc(var(--m) * -1 )); /* translateX( 1px ) */
  box-shadow: -0 var(--m) 0 var(--color-text);
}

#cardsContainer li img{
  width: calc(100% - 2px);
  border-radius: var(--xs) var(--xs) 0.25rem 0.25rem;
  border: solid 1px var(--color-text);
}

#cardsContainer li p{
  padding: var(--xs) 0;
}



#cardsContainer li h3 {
  display: inline-block;     
  position: relative;        
  font-size: xx-large;
  margin-top: 0.05rem;
}

#cardsContainer li h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 4px;
  width: 100%;
  background-color: var(--color-text);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease, background-color 2s ease;
}

#cardsContainer li a:hover h3::after {
  transform: scaleX(1);
}

#cardsContainer li a:hover h3 {
  color: var(--color-text); /* Si tu veux changer la couleur aussi */
}


@media screen and (max-width: 1200px) {
   #cardsContainer{
   
    grid-template-columns: repeat(2, 1fr);
   
   }

   main {
    max-width: 80%;
  }
}

@media screen and (max-width: 800px) {
   #cardsContainer{
   
    grid-template-columns: repeat(1, 1fr);
   
   }

   main {
    max-width: 90%;
  }
}